@{
    decimal totalLocal = (decimal)ViewBag.TotalLocal;
    decimal totalForeign = (decimal)ViewBag.TotalForeign;
}

<div class="row">
    <div class="col-12">
        <label>Total local</label>
        <b>@totalLocal</b><br/>

        
        <label>Total foreign</label>
        <b>@totalForeign</b><br/>
    </div>
</div>